.card-list{
    padding: 1rem;
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    gap: 12px;
    margin: auto;
}

@media(max-width : 1080px ) {
    .card-list {
        grid-template-columns: repeat(3,1fr)
    }
}

@media(max-width : 810px ) {
    .card-list {
        grid-template-columns: repeat(2,1fr)
    }
}

@media(max-width : 600px ) {
    .card-list {
        grid-template-columns: 1fr ;
        width : 80% ;
    }
}

@media(max-width : 400px ) {
    .card-list {
        width : 100% ;
    }
}
